<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="%category.name"
            id="org.bicknese.cfwarning">
      </category>
      <view
            name="%view.name"
            icon="$nl$/icons/sample.gif"
            category="org.bicknese.cfwarning"
            class="org.bicknese.cfwarning.CFWarning"
            id="org.bicknese.cfwarning.CFWarning">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
